# Ignore environment variables
.env

# Ignore Python cache files
__pycache__/

# Ignore log files
*.log

# Ignore temp files

# Ignore IDE settings
.vscode/
.idea/

# Ignore Folder
National_Feeder_Stocker_Cattle_Summary
data_sources

# Ignore other
models/ignore.txt
models/ignore2.txt
models/ignore3.txt
models/ignore4.txt